a {
	color:green;
}

a:hover {
	color:blue;
}

.year{
	color:red;
}

.location{
	color:red;
}

.severity{
	color:red;
}

div{
	border:1px solid #ccc;
}

div.photo{
	border:3px solid blue;
}


@media only screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }
}

